.game
  display flex
  align-items center
  @media (min-height: 387px)
    height 100vh
  &__start, &__end
    text-align center
  &__start_d-none, &__play_d-none, &__end_d-none
    display none
  &__play
    max-width 43.75rem
    &-header
      display flex
      flex-direction row
    &-cards
      display: flex
      flex-direction: row
      flex-wrap: wrap
  &__name
    font-size 1.75rem
    font-weight bold
    color white 
    text-transform uppercase
    text-align center
    opacity 0.85
    letter-spacing 0.2px
  &__score
  &__final-score
    opacity: 0.85
    font-family: open-sans
    font-weight bold
    font-size: 1.5rem
    color: #FFFFFF
    letter-spacing: 0.15px
    line-height: 1.5625rem
    text-align center
  &__score
    opacity: 0.8
    font-family: open-sans
    font-weight 600
    font-size: 0.875rem
    color: #FFFFFF
    letter-spacing: -0.25px